* {
    padding: 0;
    margin: 0;
  }
body {
    background-image: url(../img/depositphoto-16.jpg);
}
main div, section {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-fluid{
    display: flex;
    flex-direction: row;    
}
.nav-item {
    font-size: larger;
    padding: 4px;
    margin: 3px;
}
.nav-link:hover {
    text-decoration: underline;
  }
.txtnormal {
    font-family: 'Ysabeau Infant', sans-serif;
}
.titulo {
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.titulo2 {
    font-family: 'Alumni Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carritoflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.centro {
    text-align: center;
}
.btnAgregar {
    font-size: large;
    font-weight: bold;
    padding: 4px;
    margin-top: 20px;
    border-radius: 5%;
}
.card {
    width: 18rem;
    margin: 20px;
    background-color: rgba(146, 137, 124, 0.2);
}
.card:hover {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.flex-row {
    flex-wrap: wrap;
}
/* .ocultar {
    display: none;
} */
.centrarDiv {
    display: flex;
    justify-content: center;
}
.carritoCentrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#formBuscar {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}
#inputBuscar {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Ysabeau Infant', sans-serif;
    padding: 5px;
}
.divtxt {
    max-width: 1000px;
}
#divOpcionDePago {
    margin-top: 15px;
}

/* footer */
footer{
    color: #414438;
}
.footer-centro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.arriba-red{
    border-radius: 10%;
    position: relative;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.no-bullet{
    list-style: none;
}
.socalo-peque{
    font-size: medium;
}
.derechos {
    text-align: center;
    font-size: small;
}
.titulo-footer {
    font-family: 'Alumni Sans', sans-serif;
    font-size:xx-large;
}

/* gift card*/

.gift-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
}
.img-bordered{
    border-radius: 3%;
}
.gift-comprar {
    border-radius: 5%;
    padding: 4px;
    margin: 20px;
}
.gift-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-small {
    max-width: 550px;
    margin: 0 auto;
}
.centrar {
    display: block;
    margin: 0 auto;
}
.divtxt {
    max-width: 1000px;
}

/* envíos */

.lista-envio {
    max-width: 80%; 
    margin: 0 auto; 
}


/* contacto */

.contacto-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-horario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

